
/* azul fondo #488FDB */

.bodyMain {
    background-image: url(assets/Animated\ Shape.svg);
    height: 100vh;
}
.bodyCanciones {
  background-image: url(assets/Sound\ Wave.svg);
  min-height: 100vh;
}

.dengue {
    background-image: url(assets/Virus.svg);
    min-height: 100vh;
}
.videosDengue{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
}
.tituloDengue {
    text-align: center;
    margin-bottom: 25px;
    margin-top: 100px;
    color: white;
    font-size: 3rem;
}
.nav {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    margin-bottom: 40px;
    background-color: transparent;
    
}
.nav .btn {
    margin: 0 10px;
}
.titulo {
    width: 80%;
    text-align: center;
    overflow: hidden;
    margin: auto;
    padding: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;

}
.espacio {
  height: 150px;
}
.nombre {
    font-size: 8rem;
}
.contFotos {
  
  width: 90%;
  margin: auto;
  margin-top: 100px;
}
.card-img-top {
    transition: transform 0.3s ease-in-out;
}
.card:hover .tarjeta {
    transform: scale(2.1);
    z-index: 90;
}
.contDescripcion {
  padding: 20px;
  border-radius: 16px;
  background-color: #ffffff3f;
}
.descripcion {
  color: #ffffff;
  font-size: 1.4rem;
}
.letrasCanciones {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.cancion {
  display: flex;
  flex-direction: column;
  
  color: white;
  background-color: #488FDBa9;
  border-radius: 16px;
  max-width: 40%;
  padding: 10px;
  margin-top: 10px;

}

.audio {
  margin: 5px auto;
 
  width: 100%; /* Asegura que ocupe el 100% del contenedor por defecto */
}

@media (min-width: 600px) {
  .audio {
    max-width: 300px; /* Cambia el tamaño máximo para pantallas más grandes */
  }
}

@media (min-width: 768px) {
  .audio {
    max-width: 400px; /* Cambia el tamaño máximo para pantallas aún más grandes */
  }
}

@media (min-width: 1024px) {
  .audio {
    max-width: 500px; /* Cambia el tamaño máximo para pantallas de escritorio */
  }
}

.autor {
  font-size: 1rem;
}

.slide-in-bck-center {
	-webkit-animation: slide-in-bck-center 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-bck-center 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@-webkit-keyframes slide-in-bck-center {
    0% {
      -webkit-transform: translateZ(600px);
              transform: translateZ(600px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-bck-center {
    0% {
      -webkit-transform: translateZ(600px);
              transform: translateZ(600px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }
  